*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#about h3{
    color: #fff;
    background: #0984e3;
    margin: 20px 0;
    padding: 20px 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#about p{
    text-align: justify;
    padding-bottom: 20px;
}